@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/*Estilos generales*/
body {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

/*Estilos para el contenedor principal*/
#app {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
}

/*Estilos para el formulario*/
form {
    display:flex;
    justify-content: space-between;
}

/*Estilos al input*/
input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #f162da;
    border-radius: 3px;
    font-family: "Comfortaa", sans-serif;
}

/*Estilos al botón*/
button {
    padding: 5px 8px;
    background-color: #a5e94c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Comfortaa", sans-serif;
    font-weight: 40;
    display: flex;
    margin: 2px;
}

/*Estilos de la lista*/
ul{
    list-style: none;
    padding: 0;
}

/*Estilos a los elementos de la lista*/
li{
    background-color: #fcdcef;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display:grid;
    grid-template-columns: 50% 22% 28%;
}

/*Estilos para cuando una tarea está completada*/
li.completed {
    text-decoration: line-through;
    color: #18942d
}

h1{
    font-weight: 900;
    color: #ff70a6;
    font-size: 40px;    
}

button:hover{
    background-color: #e043a4;
}

